<!DOCTYPE html>
<html>
  <head>
    <title>Mongoose Flights</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to Mongoose Flights</h1>
    <h2>Explore flight information and more.</h2>
    <nav>
      <ul>
        <li><a href="/flights">All Flights</a></li>
        <li><a href="/flights/new">Add Flight</a></li>
      </ul>
    </nav>
    <h2>Ticketing</h2>
    <ul>
      <li><a href="/flights/:id/tickets/new">Add New Ticket</a></li>
    </ul>
  </body>
</html>